@{
  Layout = "_Layout";
}

<h1>Welcome to the Community Center!</h1>

<p><button class="btn">@Html.ActionLink("Activity Board", "Index", "Activities")</button></p>
<p><button class="btn">@Html.ActionLink("Player Board", "Index", "Players")</button></p>
