@{
  Layout = "_Layout";
}
@model Gym.Models.Player

<h2>Delete @Model.Name?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Confirm"/>
}

<p>@Html.ActionLink("Back to Player List", "Index")</p>